CREATE DATABASE [realestate]  
 COLLATE SQL_Latin1_General_CP1_CI_AS
GO

use [realestate]
GO



CREATE TABLE [state] (
	[state_id] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[name] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	CONSTRAINT [PK_state] PRIMARY KEY  CLUSTERED 
	(
		[state_id]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] 
) ON [PRIMARY]
GO



CREATE TABLE [listing] (
	[mls_id] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[address] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[city] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[state] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[zipcode] [char] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[status] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[price] [money] NULL ,
	[bedrooms] [smallint] NULL ,
	[bathrooms] [float] NULL ,
	[stories] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[footage] [int] NULL ,
	[yearBuilt] [int] NULL ,
	[type] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[listedOn] [smalldatetime] NULL ,
	[hasPool] [bit] NULL ,
	[hasLaundry] [bit] NULL ,
	[hasFireplace] [bit] NULL ,
	[hasWalkInClosets] [bit] NULL ,
	[remarks] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	CONSTRAINT [PK_listing] PRIMARY KEY  CLUSTERED 
	(
		[mls_id]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] ,
	CONSTRAINT [FK_listing_state] FOREIGN KEY 
	(
		[state]
	) REFERENCES [state] (
		[state_id]
	)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


INSERT INTO state (state_id, name)  VALUES('AK', 'Alaska');
INSERT INTO state (state_id, name)  VALUES('AL', 'Alabama');
INSERT INTO state (state_id, name)  VALUES('AR', 'Arkansas');



INSERT INTO listing (mls_id, address, city, state, zipcode, status, price, bedrooms, bathrooms, stories, footage, yearBuilt, type, listedOn, hasPool, hasLaundry, hasFireplace, hasWalkInClosets, remarks)  VALUES('A29345', '6520 Arboleda St', 'City Terrace', 'CT', '92517', 'active',  295000.0, 2,  1.0, '1', 800, 1970, 'Multi-Family Home', getdate(), 0, 1, 1, 0, '$30,000.00 Price Reduction! Nice Private Location! Views! Near Schools. Good home for 1st time buyer. Newer Electrical Upgrade. Located in City Terrace.');
